.body {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
}

h3 {
  color: brown;
  size: 40px;
  background-color: bisque;
}

p {
  background-color: black;
  color: antiquewhite;
  size: 20px;
}

h2 {
  color: rebeccapurple;
}
